<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>VAT-Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>VAT-Calculator</h1>
    <form action="#" th:action="@{/grossnetcalculator}" th:object="${grossnetcalculator}" method="post">
    	<p>Gross:&nbsp; <input type="number" th:field="*{gross}" required /></p>
        <p>VAT%: <input type="number" th:field="*{percentage}" id="vat" required /></p>
        <p><input type="submit" value="Submit" required /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
